.lazy-img-wrapper {
  overflow: hidden;
  border-radius: 20px;
  width: 100%;
  max-height: 220px;
}

.lazy-img {
  transition: transform 0.3s ease;
  object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.article-text {
  line-height: 1.8;
  font-size: 1.1rem;
  text-align: justify;
}

.text-justify {
  text-align: justify;
}

@media (max-width: 768px) {
  .article-text {
    font-size: 1rem;
    text-align: right;
  }
}
