.full-image {
  width: 100%;
  height: auto; /* ارتفاع خودکار */
  max-height: 70vh; /* حداکثر ارتفاع نسبت به صفحه */
  object-fit: cover;
  display: block;
  transition: transform 0.8s ease, filter 0.5s ease;
}

.full-image:hover {
  transform: scale(1.03);
  filter: brightness(1.1);
}

@media (max-width: 768px) {
  .full-image {
    height: auto;
    max-height: 50vh; /* کوچکتر روی موبایل */
  }
}
